@import '../../styles/vars';
@import '../../styles/mixins';

.iconContainer {
  display: none;
  align-items: center;
  
  @include mq($md) {
    margin-left: auto;
    display: flex;
    margin-right: 20px;
  }

  img {
    margin-right: 10px;
  }
}