@import '../../styles/vars';
@import '../../styles/mixins';

.iconContainer {
  display: none;
  align-items: center;

  &.showIcons {
    display: block;
    margin: 1rem 2.5rem;

    @include mq($md) {
      display: none;
    }
  }
  
  @include mq($md) {
    margin-left: auto;
    display: flex;
    margin-right: 1.2rem;
  }

  img {
    margin-right: 0.6rem;
  }
}