@import '../../styles/vars';
@import '../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  @include mq($md) {
    width: inherit;
    margin: inherit;
  }
}

.header {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0;

  @include mq($md) {
    font-size: 4.5rem;
    margin-top: 4.7rem;
  }
}

.body {
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;

  @include mq($md) {
    font-size: 1.5rem;
  }
}

.about {
  width: 85%;
  text-align: center;
  line-height: 1.4;
  margin-top: 0;

  @include mq($lg) {
    width: 65%;
  }

  @include mq($xxlg) {
    width: 50%;
  }
}