@import '../../styles/vars';
@import '../../styles/mixins';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.2rem;
  text-align: center;

  @include mq($sm) {
    text-align: left;
  }

  @include mq($lg) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  @include mq($xxlg) {
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
  }
}