.employer {
  font-weight: 700;

  span:first-child {
    border-bottom: 1px solid var(--black);
    margin-right: 0.6rem;
  }

  span:last-child {
    font-style: italic;
    font-size: 0.75rem;
    font-weight: 300;
  }
}

.position {
  font-weight: 400;
  margin: 0 0 1.56rem 0;
}