.employer {
  font-weight: 700;
  margin-bottom: 0.6rem;

  a {
    color: var(--black);
    text-decoration: none;
    border-bottom: 1px solid var(--black);
    margin-right: 0.6rem;
  }

  span {
    font-style: italic;
    font-size: 0.75rem;
    font-weight: 300;
  }
}

.position {
  font-weight: 400;
  margin: 0 0 1.56rem 0;
}