@import '../styles/vars';
@import '../styles/mixins';

.contentContainer {
  display: flex;
  flex-direction: column;

  @include mq($md) {
    flex-direction: row;
  }

  @include mq($xlg) {
    margin-bottom: 2.7rem;
  }

  .infoSection:first-child {
    margin-bottom: 0;
  }

  @include mq($md) {
    .infoSection {
      width: 50%;
    }

    .infoSection:first-child {
      margin-bottom: 3.75rem;
    }
  }

  @include mq($xxlg) {
    .infoSection:first-child {
      width: 90%;
    }
  }

  .skillsContainer {
    margin: 3rem 2.5rem 0.9rem;

    @include mq($md) {
      margin: 7.2rem 5rem 1.9rem 5rem;
    }
  }
}

.socialContainer {
  margin-bottom: 40px;
  text-align: center;

  @include mq($sm) {
    text-align: left;
  }
}

.header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1.9rem;

  @include mq($sm) {
    text-align: left;
  }
}

.experienceContainer {
  margin-bottom: 4rem;
}