@import '../styles/vars';
@import '../styles/mixins.scss';

.contentContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.1rem;

  @include mq($md) {
    flex-direction: row;
  }

  > div:first-child {
    margin-bottom: 0;
  }

  @include mq($md) {
    > div {
      width: 50%;
    }

    > div:first-child {
      margin-bottom: 3.75rem;
    }
  }

  @include mq($xlg) {
    > div:first-child {
      width: 90%;
    }
  }
}