.f-italic {
  font-style: italic;
}

.f-uppercase {
  text-transform: uppercase;
}

.f-lato-bold {
  font-weight: 700;
}

.f-lato-black {
  font-weight: 900;
}

.f-raleway {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
}